.hr--dotted-line,
.hr--dashed-line {
  margin: 1em 0em;
  border-top: 5px dotted $color-text;
  border-bottom: 0;
}

// Hero
.hero,
.buttons,
.results,
.footer__container {
  padding: 1em 8.33%;
}

.hero {
  h1 {
    margin-bottom: 2em;
  }
  h2 {
    text-shadow: $text-shadow;
  }
}

// Main
.buttons__container {
  margin-bottom: 2em;

  @include tablet {
    display: flex;
  }

  .button {
    @extend %buttons;

    &:hover,
    &:focus {
      background-color: $color-text;
      color: $color-lg-gray;
    }
  }
}

// Root
.results {
  .table {
    display: none;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    // border-spacing: 1em;
    box-shadow: $box-shadow;
    font-size: clamp(1rem, 1.6vw, 1.6rem);

    & th,
    & td {
      border-bottom: 1px solid $color-gray;
      padding: 0.5em;
    }

    & tr:hover,
    & tr:focus {
      background-color: $color-lg-gray;
    }

    thead * {
      color: $color-dk-gray;
      text-align: left;
    }

    .js-button--edit,
    .js-button--delete {
      display: contents;
      border: none;
      cursor: pointer;
    }

    .js-button--edit::before {
      @extend %icons;
      content: "\f14b";
      color: $color-green;
    }

    .js-button--delete::before {
      @extend %icons;
      content: "\f146";
      color: $color-red;
    }
  }
}

// Modal
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: auto;
  z-index: 1;

  &__content {
    width: 80%;
    margin: 8% auto;
    padding: 2em 4em 4em;
    background-color: #fff;
    box-shadow: $box-shadow;

    &--btn-close {
      color: $color-dk-gray;
      float: right;
      font-size: 2rem;
      font-weight: 500;

      &:hover,
      &:focus {
        color: $color-text;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

// Form
form {
  width: 100%;
  padding: 1em;
  background-color: $color-lg-gray;
  border: 1px solid $color-gray;
  box-shadow: $box-shadow;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__row {
    @include tablet {
      flex: 0 1 49%;
    }

    label {
      display: block;
      color: $color-dk-gray;
      font-weight: 500;
    }

    input,
    select {
      width: 100%;
      padding: 0.25em 0.5em;
      border: 1px solid $color-gray;
      cursor: pointer;
    }

    .form__button {
      @extend %buttons;
      width: 49%;
      margin-top: 1em;
      background-color: #fff;
      border-color: $color-text;

      &:hover,
      &:focus {
        background-color: $color-text;
        color: $color-lg-gray;
      }
    }
  }
}

// Footer
footer {
  margin-top: 2em;
  background-color: $color-text;
  color: $color-lg-gray;
}

.footer__container {
  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &--content {
    margin-bottom: 1em;

    @include tablet {
      flex: 0 1 calc(100% / 3);

      &:last-child {
        margin-left: 2em;
      }
    }

    h5 {
      margin-bottom: 0.5em;
    }

    .social-media__list {
      display: inline-flex;

      &--link {
        &:not(:last-child) {
          margin-right: 1em;
        }

        & * .icon {
          width: 2em;
        }
      }
    }
  }
}
