/*adding a new font by @font-face:
1)dowload the font to the css folder
2)create a name for the font
3)add a url (technical name and extension of the font
4)then use the new font family as usual and inside single quotes
*/

/* using BEM naming convention: [block]__[element]--[modifier] */

/* ---------- RESET ---------- */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #000000;
  --background-image: url("paper_texture_02.png");
  --gray: #2b2b2b;
  --lg-gray: #ecf0f1;
  --red: #eb2f06;
  --white: #ffffff;
}
@font-face {
  font-family: "momstypewriterregular";
  src: url(Momt___.ttf);
}

@font-face {
  font-family: "myLightFont";
  src: url(BebasNeue-Book.ttf);
}

/* ---------- GLOBAL | ALPHABETIC ORDER ---------- */
html {
  font-family: "Roboto", sans-serif;
  background-image: var(--background-image);
}
h5 {
  margin-bottom: 2%;
}
img {
  width: 6%;
  height: auto;
  margin: 1% 2% 0 0;
}
.root {
  display: none;
  padding-left: 2%;
  margin-top: 2%;
  font-size: 18px;
}
/* ---------- HEADER ---------- */
header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.header__message {
  margin-bottom: 2%;
  font-family: "momstypewriterregular";
  font-size: 6vw;
  line-height: auto;
  text-align: center;
}
/* ---------- NAV ---------- */
nav {
  width: 100%;
  padding: 0 2%;
  margin: 2%;
  text-align: right;
}
nav a {
  font-family: "myLightFont";
  font-size: 1.125em;
}
/* ---------- MAIN ---------- */
.main__message h1 {
  font-family: "myLightFont";
  text-align: center;
  font-size: 3vw;
}
.hr--dotted-line,
.hr--dashed-line {
  width: 95%;
  margin: 2% auto;
  border-top: 5px dotted var(--black);
  border-bottom: 0;
}
.main__button--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.button--books,
.sales {
  width: 18%;
  height: auto;
  display: inline-block;
  padding: 20px;
  background: var(--white);
  border: 4px solid var(--gray) !important;
  color: var(--black) !important;
  font-family: "myLightFont";
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.button--books:hover {
  background: var(--gray);
  border-color: var(--gray) !important;
  color: var(--white) !important;
  transition: all 0.4s ease 0s;
}
.sales:hover {
  background: var(--red);
  border-color: var(--red) !important;
  color: var(--white) !important;
  transition: all 0.4s ease 0s;
}
.root__container {
  width: 100%;
  height: auto;
}

.form--add,
.form--update,
.form--delete {
  display: none;
  padding-left: 1%;
  background-color: var(--white);
  border: 4px solid var(--gray);
}
.form__container {
  width: 100%;
  padding: 1% 2%;
}
.form__p {
  margin: 2% 0;
  font-family: "myLightFont";
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
label {
  width: 100%;
  display: block;
  line-height: 35px;
  padding: 1% 2% 1% 0;
}
span {
  font-family: "myLightFont";
  font-size: 1.5em;
}
input[type="text"],
input[list="category"] {
  width: 80%;
  float: right;
  padding: 6px;
  border: none;
  border: 1px solid var(--gray);
  font-size: 1.5em;
}
input[type="submit"] {
  padding: 8px 18px;
  margin-bottom: 2%;
  background: var(--gray);
  color: var(--white);
  font-family: "myLightFont";
  font-size: 1.5em;
}
table {
  display: none;
  width: 100%;
  height: auto;
  padding: 0 2%;
  margin: 2% 0 0 0;
  border-collapse: collapse;
  font-size: 1em;
  text-transform: uppercase;
}
th,
td {
  width: auto;
  height: auto;
  padding: 12px;
  border-bottom: 1px solid var(--lg-gray);
  text-align: left;
}
thead {
  width: 100%;
  color: var(--white);
  background: var(--gray);
}
tbody {
  color: var(--gray);
  background: var(--white);
}
/* ---------- FOOTER ---------- */
footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
}
.footer__container {
  width: 100%;
  padding: 2%;
  color: var(--white);
  font-size: 0.875em;
}
.footer__container p {
  font-size: 0.9375em;
}
.footer__form {
  width: 100%;
  display: flex;
  margin-top: 1%;
  align-items: center;
  justify-content: space-between;
}
.footer__form input[type="text"],
.footer__form input[type="submit"] {
  padding: 6px;
  border: none;
  font-size: 0.875em;
}
.footer__form input[type="text"] {
  width: 79%;
}
.footer__form input[type="submit"] {
  width: 20%;
  margin-top: 6px;
  background-color: var(--white);
  color: var(--gray);
}

.footer__form input[type="submit"]:hover {
  color: var(--white) !important;
  background: var(--gray);
  border-color: var(--gray) !important;
  transition: all 0.4s ease 0s;
}

/* ---------- MEDIA QUERIES ---------- */

/*when screen get smaller, then resize*/
@media screen and (max-width: 500px) {
  /*buttons*/
  .button--books,
  .sales {
    padding: 10px;
    font-size: 2.5vw;
  }
  #content-container {
    padding-left: 0;
    padding-top: 10px;
  }
  .content {
    font-size: 3vw;
  }
}
